@font-face {
  font-family: 'iamat-icons';
  src:  url('fonts/iamat-icons.eot?yiw69u');
  src:  url('fonts/iamat-icons.eot?yiw69u#iefix') format('embedded-opentype'),
    url('fonts/iamat-icons.ttf?yiw69u') format('truetype'),
    url('fonts/iamat-icons.woff?yiw69u') format('woff'),
    url('fonts/iamat-icons.svg?yiw69u#iamat-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="at-"], [class*=" at-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iamat-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-play:before {
  content: "\ea1c";
}
.at-pause:before {
  content: "\ea1d";
}
.at-stop:before {
  content: "\ea1e";
}
.at-user:before {
  content: "\e971";
}
.at-users:before {
  content: "\e972";
}
.at-images:before {
  content: "\e90e";
}
